@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where(.dark, .dark *));

@import "./utilities.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #f6f6f6;
  --foreground: #171717;
}


.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--heroui-content4)) transparent;
    
    &::-webkit-scrollbar {
      width: 1rem;
      height: 1rem;
      background: transparent;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: hsl(var(--heroui-content4));
      border-radius: 0.25rem;
      border: 0.125rem solid transparent;
      background-clip: content-box;
    }
  }
}

html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}
