@utility scrollbar-auto {
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color);
  }

  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
