@utility scrollbar-auto {
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--heroui-content4)) transparent;
  }

  &::-webkit-scrollbar {
    background: transparent; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--heroui-content4));
  }
}