@utility scrollbar-auto {
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color);
  }

  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility mention-link {
  @apply text-primary font-medium bg-accent/70 dark:bg-accent/80 px-1 py-0.5 rounded-md hover:no-underline;
}
